In [4]:
## character count
n=input()
count=0
if i in n:
    count=count+1;
print(count)

aarthi$
1

In [7]:
## special chracter count
n=input()
count=0
if i in "!$#*&":
    count=count+1;
print(count)

hello*
1

### topics
- tuple
- dictionary

In [8]:
empty=list()
empty1=[]

In [9]:
t=(1,2)
print(t)

(1, 2)

In [10]:
print(t[0])

1

In [11]:
t[0]=10
print(t)

TypeError: 'tuple' object does not support item assignment

In [12]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [13]:
t.count(1)

1

In [16]:

t1=(1,5,5,7,1,1)
print(t1.count(1))
print(t1.count(5))
print(sum(t1),max(t1),min(t1))

3
2
20 7 1

In [20]:
t2 = (34,'rd',True,98.1)
print(t2)
print(t2[0])
print(t2[2:])

(34, 'rd', True, 98.1)
34
(True, 98.1)

In [21]:
t3 =(3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

In [22]:
student_marks=[[23,56,89],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [38]:

marks=[[23,56,89],[45,56,76],[99,65,34]]
print(sum(marks[0]))
for i in range(len(marks)):
    marks[i].append(sum(marks[i]))

                          
print(marks)

168
[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34, 198]]

In [37]:
a=[6,8,9]
a.append(sum(a))

In [25]:
for i in a:
    print(i)

6
8
9
23

### Dictionary

In [39]:
d={'maths':56,'english':67,'physics':45}
d['maths']

56

In [41]:
d['physics']=77
d

{'maths': 56, 'english': 67, 'physics': 77}

In [42]:
#Add a new item to dictionary
d['python']=78
d

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

In [44]:
##Accessing the values using for loop
for i in d:
    print(d[i],end='\t')

56	67	77	78

In [47]:
## To calculate the sum of the values in the for loop
s=0

for i in d:
    s+=d[i]
print(s)

278

In [49]:
## To access keys
print(d.keys())
## To access values
print(d.values())
## To access key value pairs
print(d.items()) ## list of tuples each tuple is a key value pair

dict_keys(['maths', 'english', 'physics', 'python'])
dict_values([56, 67, 77, 78])
dict_items([('maths', 56), ('english', 67), ('physics', 77), ('python', 78)])

In [51]:
## to calculate the sum of values in a dictionary
sum(d.values())

278

In [55]:
for key,value in d.items():
    print(key,'i',value)

maths i 56
english i 67
physics i 77
python i 78

In [56]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78, 'total': 278}

In [57]:
## to remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'python': 78}

In [59]:
std={'Ram':[77,45,34],'Sandy':[56,78,94],'rose':[67,89,92]}
std

{'Ram': [77, 45, 34], 'Sandy': [56, 78, 94], 'rose': [67, 89, 92]}

In [60]:
std['Ram']

[77, 45, 34]

In [61]:
for k,v in std.items():
    std[k].append(sum(v))
std

{'Ram': [77, 45, 34, 156],
 'Sandy': [56, 78, 94, 228],
 'rose': [67, 89, 92, 248]}