### For Loops

In [6]:
for i in "gitam":
    print(i)

g
i
t
a
m

In [7]:
for i in range(5):
    print(i,end='\t');
# range(start,stop,step)
#range(stop)
#range(start,stop)

0	1	2	3	4

In [8]:
for i in range(5,20,2):
    print(i)

5
7
9
11
13
15
17
19

In [11]:
for i in range(-5,-10,-1):
    print(i)

-5
-6
-7
-8
-9

In [17]:
for i in range(-5,10,1):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [24]:
## even values below 100
for i in range(2,100,2):
    print(i,end="\t")

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [23]:
##  multiples of 7
for i in range(28,141,7):
    print(i,end="\t")

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

## while syntax
 ### intialization
  ### while conditon:
   ### statements
   ### increment/decrement variable updation

In [26]:
i=23
while i<=140:
    if i%7==0:
        print(i,end="\t")
    i=i+1

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

In [27]:
## read the nos from keyboard .stop the reading whenever user enter done 
n=input("enter a no")
while n!="done":
    print (n)
    n=input("enter a no")

enter a no45
45
enter a no45
45
enter a no56
56
enter a nodone

In [ ]:
### vowel count in a string
n=input("enter a string")
count=0;
for each in n:
    if each in "aeiouAEIOU":
        count=count+1;
print(count)

In [1]:
### vowel count and consonant countin a string
n=input("enter a string")
count=0;acount=0;
for each in n:
    if each in "aeiouAEIOU":
        count=count+1;
    else :
        acount=acount+1;
print("vowel count",count)
print("consonant count",acount)
if count==acount:
    print("luckyname !!!")
else:
    print("oops sorry ,better lext next time):")

enter a stringaarthi
vowel count 3
consonant count 3
luckyname !!!

### lists

In [1]:
marks=[34,67,78,89]
marks

[34, 67, 78, 89]

In [3]:
for i in marks:
    print(i)

34
67
78
89

In [7]:
## to print the first letter of element
print(marks[0])
## to print the no of elementsin the list
print(len(marks))
## to access elements
print(marks[-2])
print(marks[-4])

34
4
78
34

In [8]:
## updating a value in array
marks[0]=98
print(marks)

[98, 67, 78, 89]

In [12]:
## list using range
l=list(range(2,32,2))
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [14]:
## slicing listname[start :stop:step]
print(l[:3])
print(l[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [16]:
## to print alternate elements
print(l[0::2])
print(l[0:len(l):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [22]:
## to print string in reverse
l2=list(range(15,30,2))
print(l2)
print(l2[len(l2)::-1])

[15, 17, 19, 21, 23, 25, 27, 29]
[29, 27, 25, 23, 21, 19, 17, 15]

In [23]:
## to append a list
print (marks)
marks.append(13)
print(marks)

[98, 67, 78, 89]
[98, 67, 78, 89, 13]

In [27]:
## To remove an element
print (marks)
marks.pop(2)
print(marks)

[98, 67, 78, 89]
[98, 67, 89]

In [33]:
#to remove using remove
print (marks)
marks.remove(89)
print(marks)

[98, 89]
[98]

In [36]:
# to add more elements
m1={89,55,34,67,99}
marks.extend(m1)
print(marks)

[98, 34, 99, 67, 55, 89, 34, 99, 67, 55, 89, 89, 34, 99, 67, 55, 89]

In [37]:
marks.append(89)
print(marks.count(89))

5

In [38]:
s="abracadabra"
print(s[0])
print(s[-1])
print(s[:4])

a
a
abra

### user defined functions

In [43]:
def Hello():
    print("helooooooooooooooooooooooooooooooooooo")
    return 0;
Hello()

helooooooooooooooooooooooooooooooooooo

0

In [44]:
print(Hello())

helooooooooooooooooooooooooooooooooooo
0

In [50]:
def aaloooo(name):
    print("santuu is mad",name)
    return "hiiiiiiiii mental"
print(aaloooo("as jk"))

santuu is mad as jk
hiiiiiiiii mental

In [53]:
def power(a,b):
    return(a**b);

In [54]:
res=power(2,3)
print(res)

8

In [67]:
def hello(fname,lname='gitam'):
    print("welcome to", fname ,lname )
hello('ketak','idiot')

welcome to ketak idiot

In [71]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [72]:
s='aarthi'
s.capitalize()

'Aarthi'

In [73]:
s.upper()

'AARTHI'

In [74]:
s.lower()

'aarthi'